<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Totem</title>
</head>

<body>
    <div id="app">
        <p>Zvolil sis přezdívku: {% raw %} {{ username }} {% endraw %}  </p>

        <p class="my-3"> {% raw %} {{ players }} {% endraw %} online hráč(i): </p>
        <li v-for="member in connectedPlayers">
              {% raw %} {{ member }} {% endraw %}
        </li>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
    <script>
        var app = new Vue({
          el: '#app',

          created () {
            let url = new URL(window.location.href);
            let name = url.searchParams.get("username");

            if (name) {
              this.username = name
              this.subscribe();
              this.listeners();
            } 
            else {
              this.username = this.generateRandomName();
              location.assign("/opponent?username=" + this.username);
            }
          },

          data: {
            username: '',
            players: 0,
            connectedPlayers: [],
            pusher: pusher = new Pusher('f98348521f3f514f3091', {
              authEndpoint: '/pusher/auth',
              cluster: 'eu',
              encrypted: true
            }),
          },

          methods: {
            generateRandomName: function () {
              let text = '';
              let possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
              for (var i = 0; i < 6; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
              }

              return text;
            },

            subscribe: function () {
              // Subscribe k private channelum v pusheru
              let channel = this.pusher.subscribe('presence-channel');
              this.myChannel = this.pusher.subscribe('private-' + this.username)

              // Updatuje počet online hráčů po připojení
              channel.bind('pusher:subscription_succeeded', (player) => {
                this.players = player.count - 1
                player.each((player) => {
                  if (player.id != this.username)
                    this.connectedPlayers.push(player.id)
                });
              });

              // upozorňuje pusher na nového hráče
              channel.bind('pusher:member_added', (player) => {
                this.players++;
                this.connectedPlayers.push(player.id)
              });

              // Updatuje počet online hráčů po odpojení
              channel.bind('pusher:member_removed', (player) => {
                this.players--;
                var index = this.connectedPlayers.indexOf(player.id);
                if (index > -1) {
                  this.connectedPlayers.splice(index, 1)
                }
              });
            },
          }
        })
    </script>
</body>