<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Totem</title>
</head>
<body>
  <div id="app">
    <p> tvoje přezdívka: {% raw %} {{ username }} {% endraw %} </p>
    <div style="height: 50vh">
        <p class="my-3"> {% raw %} {{ players }} {% endraw %} online player(s) </p>
            <li class="m-auto py-3 text-dark" style="cursor: pointer;" v-for="member in connectedPlayers" @click="choosePlayer">
              {% raw %} {{ member }} {% endraw %}
            </li>
    </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',

      created () {
        let url = new URL(window.location.href);
        let name = url.searchParams.get("username");

        if (name) {
          this.username = name
          this.subscribe();
          this.listeners();
        } else {
          this.username = this.generateRandomName();
          location.assign("/play?username=" + this.username);
        }
      },

      data: {
        username: '',
        players: 0,
        connectedPlayers: [],
        pusher: pusher = new Pusher('f98348521f3f514f3091', {
          authEndpoint: '/pusher/auth',
          cluster: 'eu',
          encrypted: true
        }),
        otherPlayerName: '',
        mychannel: {},
        otherPlayerChannel: {},
        firstPlayer: 0,
        turn: 0,
        boxes: [0, 0, 0, 0, 0, 0, 0, 0, 0]
      },

      methods: {
        generateRandomName: function () {
          let text = '';
          let possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          for (var i = 0; i < 6; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          }

          return text;
        },

        subscribe: function () {
          // Subscribe to the presence and private channels
          let channel = this.pusher.subscribe('presence-channel');
          this.myChannel = this.pusher.subscribe('private-' + this.username)

          // Updatuje počet online hráčů po připojení
          channel.bind('pusher:subscription_succeeded', (player) => {
            this.players = player.count - 1
            player.each((player) => {
              if (player.id != this.username)
                this.connectedPlayers.push(player.id)
            });
          });

          // Display a notification when a new player comes online
          channel.bind('pusher:member_added', (player) => {
            this.players++;
            this.connectedPlayers.push(player.id)
          });

          // Decrement the connectedPlayers array when a player disconnects
          channel.bind('pusher:member_removed', (player) => {
            this.players--;
            var index = this.connectedPlayers.indexOf(player.id);
            if (index > -1) {
              this.connectedPlayers.splice(index, 1)
            }
          });
        },


      }
    })
  </script>
</body>
</html>
